
*
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

h2
{
	margin-bottom: 1vh;
}

/*Sets the properties of images*/
.lefts
{
	float:right;
	padding: 0 30 0 30 ;
}

body
{
	background-image: url("../Images/Background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: inherit;
}

header
{
	background-color:#ffffff;
	margin: 1vw 15vw 1vw 15vw;
	padding: 2rem;
	border: 5px solid #c5e6c6;
}

main
{
	background-color:#ffffff;
	margin: 1vw 15vw 5vw 15vw;
	line-height: 2rem;
	padding: 2rem;
	border: 5px solid #c5e6c6;
}

nav
{
	position: fixed;
  	bottom: 0;
  	width: 100%;
	font-size: 1.25em;
}
video
{
	text-align: center;
}
.clear
{
	clear:both;
}
iframe
{
	padding-right: 1.5em;
}

/*Sets transparency of the webpage.*/
.navbar-custom 
{
	background:rgba(255, 255, 255, .75);
}

/*Changes elements of the webpage based on screen size*/
@media screen and (max-width: 1158px)
{
	.smallPic
	{
		display: none;
	}

}

@media screen and (max-width: 992px)
{
	main
	{	
		font-size: .75rem;
		padding: 1vh;
	}
	
	.lefts
	{
	display: none;
	}

	
}
@media screen and (max-width: 1129px)
{
.video
{
	display: none;
	
}
}

