*
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

h2
{
	margin-bottom: 1vh;
}

h3
{
	color:#ffffff;
	font-size: 1.75em;
}

/*Sets the properties of images*/
.lefts
{
	float:right;
	padding: 0 30 0 30 ;
}

body
{
	background-image: url("../Images/Background.png");
 	background-attachment: fixed;
  	background-size: cover;
}

header
{
	background-color:#ffffff;
	margin: 1vw 15vw 1vw 15vw;
	padding: 2rem;
	border: 5px solid #c5e6c6;
}

main
{
	background-color:#ffffff;
	margin: 1vw 15vw 1vw 15vw;
	line-height: 2rem;
	padding: 2rem;
	border: 5px solid #c5e6c6;
}

nav
{
	position: fixed;
  	bottom: 0;
  	width: 100%;
	font-size: 1.25em;
}

footer
{
	padding: 1.5rem 10vw;
	background-color: #416142;
	border-top: 5px solid #344b38;
}

/*Sets transparency of the webpage's navbar.*/
.navbar-custom 
{
	background:rgba(255, 255, 255, 0.75);
}

.footer
{
	font-size: small;
}

.footer a:link
{
	color: rgb(255, 255, 255);
}

.footer a:visited
{
	color: rgb(110, 168, 127);
}

.footer a:hover
{
	color: rgb(179, 247, 177);
	font-weight: bold;
}

/*Changes elements of the webpage based on screen size*/
@media screen and (max-width: 1158px)
{
	.smallPic
	{
		display: none;
	}
	.video 
	{
		display: none;
	}

}

@media screen and (max-width: 992px)
{
	main
	{	
		font-size: .75rem;
		padding: 1vh;
	}

	h3
	{
	font-size: 1rem;
	}

	a:link 
	{
	font-size: .75rem;
	}
	
	.lefts
	{
	display: none;
	}
	
}
@media screen and (max-width: 645px)
{
	.None{
		display: none ;
	}
	
	table{
		font-size: .75rem;
	}
}
@media screen and (max-width: 370px)
{
	
	
	table{
		font-size: .48rem;
		table-layout:  fixed  ;
		width: 60px ;
		
	}
}

