*
{
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
}

body
{
	background-color:#CFCFCF;
	-webkit-text-size-adjust: 100%;

}

main
{
	margin-top: 25px;
	background-color:#FFFFFF;
	margin-right: 10px;
	margin-left: 10px;
}

header
{
	margin-top: 25px;
	background-color:#FFFFFF;
	margin-right: 10px;
	margin-left: 10px;
	
}

footer
{
	background-color:#979797;
	padding-top: 20px;
	padding-bottom: 5px;

}

p
{
	color: black ;
}
nav
{
	margin: 10px;
	color:#e65b5b;
}



