*
{
	font-family: 'Roboto', Courier, monospace;
	
}

body
{
	background-image: url("Images/Background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: inherit inherit;
	-webkit-text-size-adjust: 100%;
}

main
{
	margin-top: 1em;
	background-color:#ffffff;
	margin-right: 10em;
	margin-left: 10em;
	line-height: 2em;
	padding: 2em;
	border: 12px solid #c5e6c6;
	margin-bottom: 1em;
}

nav
{
	position: fixed;
  	bottom: 0;
  	width: 100%;
}

header
{
	margin-top: 1em;
	background-color:#FFFFFF;
	margin-right: 10em;
	margin-left: 10em;
	padding: 1em;
	border: 12px solid #c5e6c6;
	
	
}

footer
{
	padding: 2em;
	background-color: rgb(47, 79, 54);
}

p
{
	color: black ;
}

.navbar-custom {
	background-color: #ffffff;
	border-bottom: 12px solid #c5e6c6;
}

.mainpg
{
	text-align: center;
	font-size: 1.2em;
	margin: 2rem;
	margin-left: 6em;
	margin-right: 6em;
}
.carbonClass
{
	margin: 2em;
	margin-left: 6em;
	margin-right: 6em;
}

@media screen and (max-width: 600px)
{
	main
	{	
		margin-top: 25px;
		margin-right: 3rem;
		margin-left: 3rem;
		font-size: .7rem;
	}

	header
	{	
		margin-top: 25px;
		margin-right: 3rem;
		margin-left: 3rem;
		font-size: .7rem;
	}

	body
	{
	-webkit-text-size-adjust: 100%;
	}
}



@media screen and (max-width: 300px)
{
	main
	{	
		margin-top: 25px;
		background-color:#FFFFFF;
		margin-right: 1rem;
		margin-left: 1rem;
		font-size: .9rem;
	}

	header
	{	
		margin-top: 25px;
		background-color:#FFFFFF;
		margin-right: 1rem;
		margin-left: 1rem;
		font-size: .9rem;
	}

	body
	{
	-webkit-text-size-adjust: 100%;
	}
}